.content
  margin-top: 25px

.main
  display: flex
  flex-direction: column
  margin-left: 0
  margin-right: auto

  .name
    display: flex
  //   flex-wrap: wrap

    p
      margin: 0
      padding: 0

.quantity
  width: 80px

.buttons
  display: flex
  justify-content: center

  button
    margin-right: 15px

.cart-empty
  text-align: center

